modules = ["web", "nodejs-20"]
run = "Run the program"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "Run the program"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Start Server"
author = 46678806
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000 --bind 0.0.0.0"

[[workflows.workflow]]
name = "Run"
author = 46678806
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server ./ --port 5000 --host 0.0.0.0"
